body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: pink;
}

h1 {
    text-align: left;
}

ol {
    list-style-type: decimal;
    list-style-position: inside;
}

li {
    background-color: lightblue;
    margin: 5px 0;
    padding: 10px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

