body {
    font-family: Arial, sans-serif;
    align-items: left;
    background-color: whitesmoke;
}

.container {
    background: lightpink;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: left;
}

input {
    width: 90%;
    padding: 8px;
    margin: 5px 0;
    border-radius: 5px;
}

button {
    background: lightblue;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

li {
    background: lightseagreen;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    align-items: left;
}

.delete {
    background: red;
    color: white;
    padding: 2px;
    cursor: pointer;
    border-radius: 3px;
}
